asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.5
djangorestframework==3.12.2
gTTS==2.2.1
idna==2.10
Markdown==3.3.3
pytz==2020.5
requests==2.25.1
selenium==3.141.0
six==1.15.0
SpeechRecognition==3.8.1
sqlparse==0.4.1
urllib3==1.26.2
deepface==0.0.49
tensorflow==2.4.1
nltk==3.5
torch==1.8.1
